<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav/navbar :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">About Us</h2>
            <p class="lead">Welcome to The Online Art Shop, your number one source for exploring and purchasing unique artworks online.</p>
            <p>The Online Art Shop is a revolutionary ecommerce platform dedicated to art lovers and collectors alike. With a diverse selection of fascinating artworks, our platform makes it easy to discover and purchase art from the comfort of your home.</p>
            <p>From vibrant abstract pieces to serene traditional landscapes, our collection caters to a broad spectrum of tastes and preferences. We ensure that every visitor finds something that not only inspires but truly resonates with them.</p>
            <h3>Our Mission</h3>
            <p>Our mission is clear: to provide a seamless and satisfying buying experience for all art admirers. The Online Art Shop stands out by promoting and selling artists' works directly to customers, thereby supporting artists' livelihoods and promoting their talents.</p>
            <p>We are committed to establishing a lively community that values creativity and fosters meaningful connections within the art world. Our platform serves as a bridge between talented artists and the global audience, ensuring that each purchase supports and acknowledges the artist's hard work and vision.</p>
        </div>
    </div>
</div>

<div th:replace="~{nav/footer :: footer}"></div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
