<div th:fragment="sidebar">
			<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian">
							<!--category-productsr-->														    
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a th:href="@{'/shop/category/sketches'}">Sketches</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a th:href="@{'/shop/category/illustrations'}">Illustrations</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a th:href="@{'/shop/category/portraits'}">Portraits</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a th:href="@{'/shop/category/still_life'}">Still Life</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a th:href="@{'/shop/category/figure_drawings'}">Figure Drawings</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a th:href="@{'/shop/category/landscape_drawings'}">Landscape Drawings</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a th:href="@{'/shop/category/botanical_illustrations'}">Botanical Illustrations</a>
									</h4>
								</div>
							</div>
						<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a th:href="@{'/shop/category/abstract_art'}">Abstract Art</a>
									</h4>
								</div>
							</div>
						</div>								
						<!--/category-products-->
						
<!-- 						<div class="price-range"> -->
<!-- 							price-range -->
<!-- 							<h2>Price Range</h2> -->
<!-- 							<div class="well text-center"> -->
<!-- 								<input type="text" class="span2" value="" data-slider-min="0" -->
<!-- 									data-slider-max="100000" data-slider-step="5" -->
<!-- 									data-slider-value="[10000,100000]" id="sl2"><br /> <b -->
<!-- 									class="pull-left">Rs 0</b> <b class="pull-right">Rs 1,00,000</b> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						/price-range -->

<!-- 						<div class="shipping text-center"> -->
<!-- 							shipping -->
<!-- 							<img src="images/home/shipping.jpg" alt="" /> -->
<!-- 						</div> -->
						<!--/shipping-->
					</div>
				</div>
</div>